/* p {
  font-family: Lato;
}
body {
  padding: 5vw;
}
table, th, tr, td {
  border: 0px solid black;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
}
table {
  width: 70vw;
}
th {
  background: lightgray;
} */